/*@import url("styles/header.css"); /*importar o arquivo header.css*/

:root{ /*definir variaveis de cor*/
    --cor-de-fundo: #EBECEE;
    --cor-cabecalho: rgb(146, 104, 82);
    --cor-fonte: #2b0036;
}
body{ /*estilizacao do corpo da pagina*/
    background-color: var(--cor-de-fundo);
    color: var(--cor-fonte);
}

@media screen and (min-width:768px){ /*independente do dispositivo que o usuário estiver utilizando, o site irá se adaptar e ficar totalmente responsivo, sem quebras de layout*/
    .botoes{ /*classe botoes no HTML*/
        display: flex;
    }
}

/* INICIO DO CABECALHO */

.cabecalho-menu{ /*estilizacao do span no cabecalho*/
    width: 24px; /*largura*/
    height: 24px;/*altura*/
    background-color: rgb(240, 138, 4); /*cor de fundo*/
    display: inline-block; /*alinhar os elementos em linha*/
    background-repeat: no-repeat;
    background-position: center;
}
.cabecalho{ /*estilizacao geral do cabecalho*/
    background-color: var(--cor-cabecalho);
    display: flex; /*distribui melhor os elementos na pagina*/
    justify-content: space-between; /*espacamento entre os elementos*/
    align-items: center; /*alinha os elementos no centro*/
    position: relative; /*posiciona relativamente o item para usarmos outras opçoes como TOP, RIGHT, BOTTOM*/
}
.container{ /*estilizacao dos icones dentro das tags div*/
    display: flex; /*distribui melhor os elementos na pagina*/
    align-items: center; /*alinha os elementos no centro*/
}
.container-imagem{ /*estilizacao das imagens*/
    padding: 1em; /*margem interna*/
    width: 24px;
    height: 24px;
}
.lista-menu{ /*estilização da classe lista-menu*/
    display: none; /*a propriedade DISPLAY:NONE faz com que a lista seja ocultada*/
    position: absolute;
    top: 100%;
}
/*Para exibir a lista, utilizamos a pseudoclasse no CSS chamada :checked*/
/*Essa pseudoclasse verifica se o botão está selecionado ou não*/
/*Caso esteja selecionado, alteraremos a classe .lista-menu utilizando o combinador CSS ~ */
.container-botao:checked ~ .lista-menu{
    display: block; /*a propriedade DISPLAY:BLOCK faz com que a lista apareça*/
}

/*  FIM DO CABECALHO */
